<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <#include "/common/head.html"/>
</head>
<body class="skin-blue sidebar-mini">
<#include "/common/main-header.html"/>
<!-- Left side column. contains the logo and sidebar -->
<#include "/common/main-sidebar.html"/>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <small>图书管理</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li><a href="#">图书管理</a></li>
            <li class="active">图书列表</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content" id="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">图书列表</h3>
                    </div>
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" @click="getlist(0)">未上架</a>
                        </li>
                        <li>
                            <a data-toggle="tab" @click="getlist(1)">已上架</a>
                        </li>
                    </ul>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="tab-pane fade in active" id="shelf">
                            <table id="example1" class="table table-bordered table-hover dataTable" role="grid"
                                   aria-describedby="orderlist_table_info">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>序号</th>
                                    <th>书名</th>
                                    <th>作者</th>
                                    <th>出版社</th>
                                    <th>ISBN</th>
                                    <th>是否上架</th>
                                    <th>
                                        操作<a v-if="searchObj.onShelfState==0" class="btn btn-default btn-xs" role="button">批量上架</a>
                                        <a v-if="searchObj.onShelfState==1" class="btn btn-default btn-xs" role="button">批量下架</a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr role="row" v-for="(item,index) in booklist">
                                    <td><input type="checkbox" name="bookId" value="item.id"/></td>
                                    <td>{{index + 1}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.author}}</td>
                                    <td>{{item.press}}</td>
                                    <td>{{item.isbn}}</td>
                                    <td>{{status[item.onShelf]}}</td>
                                    <td>
                                        <a class="btn btn-default btn-xs" role="button" @click="todetail(item.id)">详情</a>
                                        <a v-if="item.onShelf == 0" class="btn btn-default btn-xs" role="button" @click="onshelf(item.id, 1)">上架</a>
                                        <a v-if="item.onShelf == 1" class="btn btn-default btn-xs" role="button" @click="onshelf(item.id, 0)">下架</a>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="row">
                        <div class="col-sm-12 pagination">
                            <div id="pageNum"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- /.content-wrapper -->
<#include "/common/footer.html"/>
<script src="/content/script/book/index.js"></script>
</body>
</html>
