<!DOCTYPE html>
<html>
<head>
    <#include "/common/head.html"/>
    <link type="text/css" rel="styleSheet" href="/content/plugins/fileinput/css/fileinput.min.css">
</head>
<body class="skin-blue sidebar-mini">
<#include "/common/main-header.html"/>
<!-- Left side column. contains the logo and sidebar -->
<#include "/common/main-sidebar.html"/>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            会员管理
            <small>advanced tables</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li><a href="#">会员管理</a></li>
            <li class="active">会员详情</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">会员详情</h3>
                    </div>
                    <!-- form start -->
                    <form role="form" id="fileForm" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id" id="memberId" value="${id}"/>
                        <div class="box-body">
                            <div class="input-group">
                                <span class="input-group-addon">学生证号</span>
                                <input type="text" class="form-control" name="cardNumber" :value="member.cardNumber" :disabled="member.status==0">
                            </div>
                            <br>

                            <div class="input-group">
                                <span class="input-group-addon">学院</span>
                                <input type="text" class="form-control" placeholder="学院" name="collegeName" :value="member.collegeName" :disabled="member.status==0">
                            </div>
                            <br>

                            <div class="input-group">
                                <span class="input-group-addon">姓名</span>
                                <input type="text" class="form-control" placeholder="姓名" name="trueName" :value="member.trueName" :disabled="member.status==0">
                            </div>
                            <br>

                            <div class="input-group">
                                <span class="input-group-addon">注册时间</span>
                                <input type="text" class="form-control" :value="member.registerDatetime" :disabled="member.status==0">
                            </div>
                            <br>

                            <div class="input-group">
                                <span class="input-group-addon">手机号</span>
                                <input type="text" class="form-control" name="mobile" :value="member.mobile" :disabled="member.status==0">
                            </div>
                            <br>

                            <div class="input-group" v-if="member.status==0">
                                <span class="input-group-addon">销户时间</span>
                                <input type="text" class="form-control" :value="member.logoutDatetime" :disabled="member.status==0">
                            </div>
                            <br>

                            <div class="input-group" v-if="member.status==0">
                                <span class="input-group-addon">销户原因</span>
                                <input type="text" class="form-control" :value="member.logoutReason" :disabled="member.status==0">
                            </div>
                            <br>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer" v-if="member.status==1">
                            <button class="btn btn-primary" @click.prevent="formSubmit" :disabled='isDisabled'>更新</button>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
            <!--<div class="box-title">-->
                <!--<h5>借书单列表</h5>-->
            <!--</div>-->
            <!--<div class="box box-primary">-->
                <!--<div class="box-body">-->
                    <!--<div class="dataTables_wrapper">-->
                        <!--<div class="row">-->
                            <!--<div class="col-xs-12">-->
                                <!--<table class="table table-bordered table-hover dataTable" role="grid" aria-describedby="orderlist_table_info">-->
                                    <!--<thead>-->
                                    <!--<tr role="row">-->
                                        <!--<th width="14%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">借书单编号</th>-->
                                        <!--<th width="14%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">书名</th>-->
                                        <!--<th width="14%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">借书时间</th>-->
                                        <!--<th width="14%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">计划还书时间</th>-->
                                        <!--<th width="14%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">实际还书时间</th>-->
                                        <!--<th width="14%" class="ui-state-default sorting_disabled" rowspan="1" colspan="1">是否归还</th>-->
                                    <!--</tr>-->
                                    <!--</thead>-->
                                    <!--<tbody>-->
                                    <!--<tr role="row" v-for="data in orders">-->
                                        <!--<td>{{data.ordNumber}}</td>-->
                                        <!--<td>{{---}}</td>-->
                                        <!--<td>{{data.ordBorrowTime}}</td>-->
                                        <!--<td>{{data.ordPlanTime}}</td>-->
                                        <!--<td>{{data.ordReturnTime}}</td>-->
                                        <!--<td>{{status[data.ordStatus]}}</td>-->
                                    <!--</tr>-->
                                    <!--</tbody>-->
                                <!--</table>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
<!-- /.content-wrapper -->
<#include "/common/footer.html"/>
<script src="/content/js/lib/jquery.form.js"></script>
<script src="/content/script/member/detail.js"></script>
</body>
</html>
